@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2, p {
    margin: 0;
    padding: 0;
}
.first-section {
    background-color: #fff;
    color: hsl(218, 22%, 67%);
    h2 {
        color: hsl(179, 62%, 43%);
        // font-size: 0.9em;
    }
    p {
        &:nth-child(2) {
            color: hsl(71, 73%, 54%);
            font-weight: 700;
            margin-top: 25px;
        }
        &:nth-child(3) {
            margin-top: 25px;
            line-height: 1.75em;
            margin-bottom: 30px;
        }
    }
}

.second-section {
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    h2 {
        
        // font-size: 0.9em;
    }

    .button {
        border: 5px solid hsl(71, 73%, 54%);
        border-radius: 5px;
        background: hsl(71, 73%, 54%);
        color: hsl(204, 43%, 93%);
        font-weight: 700;
        width: 100%;
        padding: 10px 0;
        margin-top: 35px;
        font-size: 1em;
        // need more work - shadow
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.25);
    }
    p {
        &:nth-child(2) {
            margin-top: 25px;
        }
        &:nth-child(3) {
            margin-top: 10px;
        }
        .price {
            font-weight: 700;
        }
        .month {
            margin-left: 20px;
            font-weight: 300;
        }
    }

}

.third-section {

}

@media (min-width: 375px) {
    .first-section, .second-section, .third-section {
        padding: 30px;
    }
    .second-section {
        .price {
            font-size: 2em;
        }
        .month {
            // need more work - vertical align center 
            position: relative;
            top: -5px;
            // transform: translateY(-5%);
        }
    }

}

@media (min-width: 1440px) {

}